html,*{
  box-sizing: border-box;
}
body {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
}

canvas {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

#main-container{
  background-color: #fff;
  opacity: 0.9;
}
#btn-upload{
  position: fixed;
  top: 100px;
}

[role=search]{
  margin-top: 10px;
  margin-bottom: 0;
}

@keyframes floater-mv{
  from {
    left: -220px;
  }
  to {
    left: 20px;
  }
}

.article-shadow-border {
  border: solid 1px #e2e4da;
  box-shadow: inset 0 0 1px 1px #e2e4da, 0 0 15px rgba(0,0,0,0.5);
}

.content-wrapper {
  padding-bottom: 80px;
  width: 100%;
}

.log-paragraph{
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 40px;

}
.log-paragraph div {
  text-align: right;
}
.log-paragraph h1{
  font-size: 1.5em;
}

.content-wrapper ul{
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
}

.doc-floater ul {
  margin: 0;
  padding: 20px 0 0 0;
  display: block;
  list-style-type: none;
  line-height: 50px;
}
#myInfo {
  text-align: center;
}
.nav-search {
  padding: 10px;
}
.log-content{
  margin: 0 auto;
}

@media (max-width: 767px){
  .log-content{
    width: 100%;
  }
}

@media (min-width: 767px) and (max-width: 1280px){
  .log-content{
    width: 90%;
  }
}

@media (min-width: 1280px) {
  .log-content{
    width: 50%;
  }
  .doc-section {
    width: 80%;
  }
  .doc-floater {
    position: fixed;
    left: 20px;
    top: 20%;
    height: 300px;
    width: 200px;
    border: solid 2px rgba(255, 223, 64, 0.4);
    border-radius: 25px;
    animation: floater-mv 1s;
    background: rgba(125, 99, 255, 0.7);
    color: #ddd;
  }
  .doc-floater:hover {
    box-shadow: 10px 10px 10px 5px #888;
  }
  .content-flex {
    padding-top: 80px;
  }

}

@media (max-width: 1280px) {
  .doc-section {
    width: 90%;
  }

  .doc-floater {
    width: 100%;
    padding-top: 80px;
    margin-bottom: 20px;
    border-bottom: solid 5px rgba(255, 223, 64, 0.4);
    background: rgba(255, 255, 255, 0.8);
    color: #000;
  }
}
@keyframes content-show{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.doc-section {
  border: solid 2px #999;
  border-radius: 30px;
  margin: 0 auto;
  padding: 30px;
  z-index: 1;
  height: 100%;
  color: #000;
  box-shadow: 10px 10px 10px 10px #888888;
  background: transparent;
  animation: content-show 3s;
}

.doc-section h1 {
  font-size: 2em;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
}

.doc-section h2 {
  font-size: 1.4em;
  padding-top: 20px;
  padding-bottom: 10px;
}

.copyright {
  width: 100%;
  bottom: 0;
  position: fixed;
  padding: 10px;
  background-color: #FFFFFF;
  border-top: solid 1px #e7e7e7;
  color: #777;
  text-align: center !important;
}

.copyright a {
  color: #777;
}

.copyright a:hover,
.copyright a:focus {
  color: #5e5e5e;
  text-decoration: none;
}

.opacity-wrapper {
  border-radius: 20px;
  box-shadow: 0 10px 10px 10px;
  background-color: #000;
  opacity: 0.7;
  margin-bottom: 40px;
}

.center-fix {
  position: relative;
  top: 35%;
  max-width: 600px;
  margin: 0 auto;
  z-index: 99;
  text-align: center;
}

.center-fix .my-ico {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}

.center-fix h1 {
  padding: 15px;
  font-size: 2em;
  color: #fff;
}

.my-ico {
  width: 100px;
  height: 100px;
}

.circle {
  border-radius: 100%;
  box-shadow: 0 0 10px 0;
}

.border-brown {
  border: solid 5px rgba(255, 223, 64, 0.4);
}

/* BACK TO TOP */
.clear-both {
    clear: both;
}
.back-to-top {
  position: fixed;
  z-index: 2;
  right: 50px;
  bottom: 100px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  opacity: 0.6;
  border: solid 2px #000;
  border-radius: 100%;
}
.back-to-top span {
  position: absolute;
  top: 15px;
  left: 13px;
  width: 20px;
  height: 20px;
  display: inline;
  border-top:solid 2px #000;
  border-right:solid 2px #000;
  transform: rotate(-45deg);
}
.back-to-top:hover {
  cursor: pointer;
  background-color: #000;
}
.back-to-top:hover>span{
  border-top-color: #fff;
  border-right-color: #fff;
}

.forkme {
  position: fixed;
  top: 0;
  right: 0;
  width: 149px;
  height: 149px;
  z-index: 2;
}

/* HOVER EFFECTS */
.evenflow_rotate {
  transition: transform 0.25s ease;
}

.evenflow_rotate:hover {
  transform: rotate(45deg);
}

.evenflow_shiftX {
  transition: transform 1s ease;
}

.evenflow_shiftX:hover {
  transform: translateX(20px);
}

.evenflow_shiftY {
  transition: transform 1s ease;
}

.evenflow_shiftY:hover {
  transform: translateY(-20px);
}

.evenflow_scale {
  transition: transform 0.25s ease;
}

.evenflow_scale:hover {
  transform: scale(1.25, 1.25);
}

.evenflow_spin {
  transition: transform 0.25s ease;
}

.evenflow_spin:hover {
  transform: rotate(-360deg);
}

@keyframes evenflow_shake {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.evenflow_shake {
  transform: scale(1);
}

.evenflow_shake:hover {
  animation-name: evenflow_shake;
  animation-duration: 500ms;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}