<!DOCTYPE html>
<html>

<head>
    <title>JOY's Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/plugins.css">
    <link rel="stylesheet" href="css/customized.css">
</head>

<body>
    <main id="main-container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <nav id="naviBar" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navi-items" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">JOY'S BLOG</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navi-items">
                    <ul class="nav navbar-nav">
                        <!-- Normal bootstrap dropdown menu -->
                        <li id="resume" class="dropdown">
                            <a class="glyphicon glyphicon-file dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resume</a>
                            <ul class="dropdown-menu" aria-labelledby="resume">
                                <li><a href="#education">教育背景</a></li>
                                <li><a href="#workExp">工作经历</a></li>
                                <li><a href="#pjExp">项目经验</a></li>
                                <li><a href="#identification">资格证书</a></li>
                            </ul>
                        </li>
                        <!-- Extended bootstrap multiple level dropdown menu -->
                        <li class="dropdown">
                            <a class="glyphicon glyphicon-heart dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Favor</a>
                            <ul class="dropdown-menu" aria-labelledby="favor">
                                <li class="dropdown-submenu" aria-labelledby="tutorials">
                                    <a href="javascript:;">Tutorials</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="http://api.jquery.com/" target="_blank">JQuery</a></li>
                                        <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
                                        <li><a href="https://cn.vuejs.org/" target="_blank">Vue</a></li>
                                        <li><a href="https://angularjs.org/" target="_blank">Angular</a></li>
                                        <li><a href="https://nodejs.org/en/docs/" target="_blank">NodeJS</a></li>
                                        <li><a href="https://www.sencha.com/products/extjs/" target="_blank">ExtJS</a></li>
                                        <li class="divider" role="seperator"></li>
                                        <li><a href="https://www.quanzhanketang.com/" target="_blank">w3school.com</a></li>
                                        <li><a href="http://www.gruntjs.net/" target="_blank">Grunt</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu" aria-labelledby="plugins">
                                    <a href="javascript:;">Plugins</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="https://www.hcharts.cn/" target="_blank">HighCharts</a></li>
                                        <li><a href="http://echarts.baidu.com/" target="_blank">ECharts</a></li>
                                        <li><a href="https://d3js.org/" target="_blank">D3.js</a></li>
                                        <li class="divider" role="seperator"></li>
                                        <li><a href="https://fineuploader.com/" target="_blank">FineUploader</a></li>
                                        <li><a href="https://github.com/CrawlScript/WebCollector" target="_blank">WebCollector</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu" aria-labelledby="community">
                                    <a href="javascript:;">Community</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="https://css-tricks.com/" target="_blank">CSS Tricks</a></li>
                                        <li><a href="https://www.w3cvip.org/" target="_blank">w3cvip</a></li>
                                        <li><a href="http://www.cnblogs.com/joyZzzzz/" target="_blank">博客园</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
<!--                         <li>
                            <a class="glyphicon glyphicon-inbox" href="/joy_uploader.html">Uploader</a>
                        </li> -->
                        <li>
                            <!-- My Log -->
                            <a class="glyphicon glyphicon-list-alt" href="/joy_logs.html">Logs</a>
                        </li>
                        <li>
                            <!-- Search -->
                            <div class="nav-search input-group">
                                <input type="text" title="Enter your search term" data-placement="left" class="form-control" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Go!</button>
                                </span>
                            </div>
                        </li>
                    </ul>
                    <!-- Right Part -->
                    <ul class="nav navbar-nav navbar-right">
                        <li id="navi-right"><a class="glyphicon glyphicon-envelope" href="mailto:442114687@qq.com">Contact Me</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
        <!-- resume part begin -->
        <div class="content-wrapper content-flex">
            <div id="myInfo" class="doc-floater">
                <ul>
                    <li><a href="/"><img class="my-ico circle border-brown evenflow_spin" src="/img/my_ico_384.jpg" alt="my_ico.jpg"></a></li>
                    <li>{{name}}</li>
                    <li><span class="glyphicon glyphicon-envelope"></span> {{email}}</li>
                    <li><span class="glyphicon glyphicon-earphone"></span> {{tel}}</li>
                </ul>
            </div>
            <div id="resumeInfo" class="doc-section">
                <section id="education">
                    <h1>{{title}}</h1>
                    <h2>{{university}} | {{dep}} | {{cate}}</h2>
                </section>
                <section id="workExp">
                    <h1>{{title}}</h1>
                    <div v-for="data in datas">
                        <h2>{{data.start}} ~ {{data.end}}  {{data.corp}}</h2>
                        <p>职务：{{data.title}}</p>
                        <p v-if="data.project !== undefined">项目：{{data.project}}</p>
                        <p>职责：
                            <div>
                                <ul>
                                    <li v-for="resp in data.response">{{resp.headline}}
                                        <ol>
                                            <li v-for="dtl in resp.detail">{{dtl}}</li>
                                        </ol>
                                    </li>
                                </ul>
                            </div>
                        </p>
                    </div>
                </section>
                <section id="pjExp">
                    <h1>{{title}}</h1>
                    <div v-for="data in datas">
                        <h2>{{data.name}}</h2>
                        <ul>
                            <li>程序语言：{{data.lang}}</li>
                            <li>相关技术：{{data.tech}}</li>
                            <li>开发环境：{{data.env}}</li>
                            <li>开发工具：{{data.soft}}</li>
                            <li>软件描述：{{data.desc}}</li>
                            <li v-if="data.rewards !== undefined">项目业绩：{{data.rewards}}</li>
                        </ul>
                    </div>
                </section>
                <section id="identification">
                    <h1>{{title}}</h1>
                    <ol>
                        <li v-for="data in datas">{{data}}</li>
                    </ol>
                </section>
                <section id="addition">
                    <h1>{{title}}</h1>
                    <p v-for="data in datas">{{data}}</p>
                </section>
            </div>
        </div>
        <!-- resume part end -->
        <button class="back-to-top"><span></span></button>
    </main>
    <footer>
        <div class="copyright">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3"><a href="http://glyphicons.com/" target="_blank">GLYPHICONS.COM</a></div>
                    <div class="col-md-3">Copyright&nbsp;
                        <del>My&nbsp;Ass</del>@&nbsp;J.Z's Blog</div>
                    <div class="col-md-3">Home Made WEB Page For FUN!!!</div>
                    <div class="col-md-3">Let Me Out PLZ!!</div>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="js/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/jquery/jquery.animate-colors-min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/vue.js/vue.min.js"></script>
    <script type="text/javascript" src="src/commonUnit.js"></script>
    <script type="text/javascript" src="src/resumeinfo_load.js"></script>
    <script type="text/javascript" src="src/joy_blog.js"></script>
</body>

</html>